<div class="row sign_1">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" (click)="onCloseModal()">×</button>
      <h1 class="modal-title">{{ 'LOGIN_DIALOG.LOGIN' | translate}}
        <span class="white_txt">{{ 'LOGIN_DIALOG.SIGNUP_TXT' | translate}}</span>
      </h1>
    </div>
    <div class="modal-body">
      <form [formGroup]="loginForm">
        <div class="input-group">
          <input type="email" class="form-control loc2" formControlName="email" placeholder="{{ 'LOGIN_DIALOG.EMAIL_PLACEHOLDER' | translate}}" required="">
          <p *ngIf="loginForm.get('email').hasError('validateEMAIL') && (loginForm.get('email').touched || formSubmit)" class="value-err show">{{ 'LOGIN_DIALOG.EMAIL_INVALID_MSG' | translate}}</p>
        </div>
        <div class="input-group">
          <input type="password" class="form-control loc" formControlName="password" placeholder="{{ 'LOGIN_DIALOG.PASSWORD_PLACEHOLDER' | translate}}" required="">
          <p *ngIf="loginForm.get('password').hasError('minlength') && (loginForm.get('password').touched || formSubmit)" class="value-err show">{{ 'LOGIN_DIALOG.PASSWORD_INVALID_LEN_MSG' | translate}}</p>
          <p *ngIf="loginForm.get('password').hasError('required') && (loginForm.get('password').touched || formSubmit)" class="value-err show">{{ 'LOGIN_DIALOG.PASSWORD_REQUIRED' | translate}}</p>
        </div>
        <p class="pull-right space10">{{ 'LOGIN_DIALOG.PASSWORD_FORGET' | translate}} </p>
        <div class="form-group">
          <button type="button" (click)="onClickLogin()" class="btn up me">{{ 'LOGIN_DIALOG.LOGIN_BUTTON' | translate}}</button>
        </div>
        <div class="form-group our">
          <input type="checkbox" id="custom_checkbox2">
          <label for="custom_checkbox2">{{ 'LOGIN_DIALOG.REMEMBER_ME' | translate}} </label>
        </div>
      </form>
<!--      <p class="text-center">{{ 'LOGIN_DIALOG.LOGIN_WITH_MSG' | translate}}</p>-->
    </div>
    <!--<div class="modal-footer">
      <p>
        <button class="btn fb" (click)="oAuthLogin('facebook')">
          <i class="fa fa-facebook" aria-hidden="true"></i>facebook
        </button>
        <button class="btn go" (click)="oAuthLogin('google')">
          <i class="fa fa-google" aria-hidden="true"></i>Google
        </button>
      </p>
      <p class="text-center by1 space10">{{ 'LOGIN_DIALOG.DECLARATION_MSG' | translate}}</p>
    </div>-->
  </div>
</div>
